
<div class="row">
  <div *ngFor="let temp of orders" class="col-md-4 myorder">
    <div class="card order-item" >
      <a routerLink="/order/{{temp.id}}">
      <img src="{{temp.img}}.jpg" alt="Denim Jeans" style="width:100%">
    </a>
      <a routerLink="/order/{{temp.id}}">
      <h1>{{temp.orderName}}</h1>
     </a>
      <p class="price">{{temp.price | currency:'USD'}}</p>
      <!-- <p class="dis">{{temp.description}}</p> -->
      <button class="btn btn-primary mybtn">Add to Cart</button>
    </div>
  </div>

  <div class="col-md-9 pag" style="padding-left: 30%">
    <!-- pageSize: how many pages you want
         collectionSize: the total number of orders -->
    <ngb-pagination
       [(page)]="page"
       [pageSize]="3"
       [collectionSize]="15"
       (pageChange)="doing()"
    >
    </ngb-pagination>
  </div>


</div>
